* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  padding: 20px;
}

#container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

#list {
  position: absolute;
  z-index: 1;
  width: 5600px;
  height: 400px;
}
#list img {
  float: left;
}

#buttons {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
#buttons span {
  width:10px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #333;
  float: left;
  cursor: pointer;
}
#buttons .on {
  background: orange;
}

.arrow {
  position: absolute;
  top: 180px;
  z-index: 2;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: rgba(0, 0, 0, .3);
  display: none;
  cursor: pointer;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.arrow:hover {
  background: rgba(0, 0, 0, .7);
}
#prev {
  left: 20px;
}
#next {
  right: 20px;
}

#container:hover .arrow {
  display: block;
}
